head {
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
}
.head-info {
    text-align: center;
    width: 650px;
    height: 250px;
    border: 1px solid red;
}