<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="TE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/pred.css') }}">

  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

  <title>Web App</title>
</head>
<body>
  <div class="container">
    <header>Information Form</header>

    <form action="#">
      <div class="form first">
        <div class="details personal">
          <span class="title">ปัจจัยส่วนบุคคล</span>

          <div class="fields">
            <div class="input-field">
              <label>เพศ</label>
              <input type="text" placeholder="Enter your name" required>
            </div>

            <div class="input-field">
              <label>อายุ</label>
              <input type="data" placeholder="Enter your age" required>
            </div>

            <div class="input-field">
              <label>น้ำหนัก</label>
              <input type="data" placeholder="Enter your data" required>
            </div>

            <div class="input-field">
              <label>ส่วนสูง</label>
              <input type="text" placeholder="Enter your name" required>
            </div>

            <div class="input-field">
              <label>BMI</label>
              <input type="text" placeholder="Enter your name" required>
            </div>

            <div class="input-field">
              <label>User Name</label>
              <input type="text" placeholder="Enter your name" required>
            </div>
          </div>
        </div>

        <div class="details ID">
          <span class="title">ปัจจัยด้านสภาพแวดล้อม</span>

          <div class="fields">
            <div class="input-field">
              <label>Temp</label>
              <input type="text" placeholder="Enter your name" required>
            </div>

            <div class="input-field">
              <label>RH</label>
              <input type="data" placeholder="Enter your name" required>
            </div>

            <div class="input-field">
              <label>V</label>
              <input type="data" placeholder="Enter your data" required>
            </div>

            <div class="input-field">
              <label>MRT</label>
              <input type="text" placeholder="Enter your name" required>
            </div>

            <div class="input-field">
              <label>พื้นที่ทำแบบสอบถาม</label>
              <input type="text" placeholder="Enter your name" required>
            </div>

            <div class="input-field">
              <label>User Name</label>
              <input type="text" placeholder="Enter your name" required>
            </div>
          </div>

          <div class="buttons">

            <button class="nextBtn">
              <span class="btnText">Submit</span>
              <i class="uil uil-navigator"></i>
            </button>
          
            <button class="nextBtn">
              <span class="btnText">Submit</span>
              <i class="uil uil-navigator"></i>
          </button>
          </div>

        </div>
      </div>
    </form>
  </div>
</body>
</html>