<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="TE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!--<link rel="stylesheet" href="{{ url_for('static', filename='css/result.css') }}">-->

  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

  <title>Thermal Comfort</title>
</head>
<body>
  <form action="/form" method="post">
   <div class="container">
    <header><h3><center>Result</center></h3></header>
    
      <!--{% if prediction==0 %}     
          <h4 style="color: green;"><center>ACCEPTANCE</center></h4>  
          <img src="./static/good-mood.png" alt="">
      {% elif prediction==1 %}
          <h4 style="color: red;"><center>UNACCEPTANCE</center></h4>          
          <img src="./static/customer.png" alt="">
      {% endif %}-->
      
 
    <div class="form first">
          <div class="details personal"></div>
        </div>
</body>
</html>