<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Thermal Comfort</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <body>
        <!-- nav section -->
         <nav>
            <div class="logo">
                <a href="#">Thermal Comfort </a>
            </div>

            <ul class="menu">
                <li> <a href="#">Home </a></li>
                <li> <a href="#">About </a></li>
                <li> <a href="#">Contact </a></li>

            </ul>
        </nav>
        <!-- nav section -->
        <div class="banner">
            <div class="app-text">
                <h3>Are You Feel</h3>
                <h1>Comfortable?</h3></h1>
                <p>This website is part of A project that Study  Thermal Comfort in in Krung Thep Aphiwat Central Terminal Station Using Data Mining.            </p>
                <a href="#" class="header-btn">Predict</a>
            </div>
        </div>
     
     </body>
     <section class="tech">
        <div class="tech-item">
            <h3>DATA MINING</h3>
            <img src="https://www.taximail.com/stocks/resource/c2048x1024/hq/r1/f77lhqr1fo/Banner_article.jpg" alt="">
               <p> เทคนิคที่ใช้ได้แก่ Association Rules และ Principal Component Analysis</p>
        </div>
        <div class="tech-item">
            <h3>Machine Learning </h3>
            <img src="https://www.taximail.com/stocks/resource/c2048x1024/hq/r1/f77lhqr1fo/Banner_article.jpg" alt="">
               <p> ตัวแบบที่ใช้ เช่น XGBoost Ramdom forest เป็นต้น </p>
        </div>        
     </section>
     <footer>
        <p>&copy;2024</p>
     </footer>
</html>



