<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Thermal Comfort Pred</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <body>
        <!-- nav section -->
         <nav>
            <div class="logo">
                <a href="#">My Project </a>
            </div>

            <ul class="menu">
                <li> <a href="#">About Us </a></li>
            </ul>
        </nav>
        <!-- nav section -->
        <header>
            <h1>A Study of Thermal Comfort in Buildings Using Data Mining: A Case Study in Krung Thep Aphiwat Central Terminal Station </h1>
            <p>
                เว็บไซต์นี้เป็นส่วนหนึ่งของรายวิชา AI Prototype
            </p>
            <a href="#" class="header-btn">Predict</a>
     </body>
</html>


